@import '../../assets/style.less';

.profile-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr; /* Define 3 columns with the desired width ratio */
  grid-template-rows: 1fr 2fr 3fr; /* Define 3 rows with the desired height ratio */
  gap: 1rem; /* Add some gap between cells */
  height: 100vh; /* Adjust the height as needed */
}

.profile-card {
  padding-top: 10vh;
  padding-left: 10vh;
  grid-row: span 2;
  grid-column: span 1;
}

.profile-biography-section 
{
  // padding-top: 10vh;
  // padding-right: 10vh;
  grid-row: span 1;
  grid-column: span 2;
  border-radius: 2rem;
  border-style: solid;
  border-color: #4286c6;
  border-width: 0.2rem;
  background-color: #f0d65b;
}

.profile-badge-display
{
  grid-row: span 1;
  grid-column: span 2;
  border-radius: 2rem;
  border-style: solid;
  border-color: #4286c6;
  border-width: 0.2rem;
  background-color: #f0d65b;
}

.profile-project-display
{
  grid-row: span 1;
  grid-column: span 2;
  border-radius: 2rem;
  border-style: solid;
  border-color: #4286c6;
  border-width: 0.2rem;
  background-color: #f0d65b;
}
.profile-available-badges
{
  grid-row: span 1;
  grid-column: span 1;
  border-radius: 2rem;
  border-style: solid;
  border-color: #4286c6;
  border-width: 0.2rem;
  background-color: #f0d65b;
}
