@import '../../assets/style.less';

.profile-card {
  width: 20rem;
  height: 30rem;
}

.project-section {
  width: 30rem;

  padding: 0.5rem;

  border-radius: 1rem;
  background-color: #61a8dc;

  display: grid;
  grid-template-columns: 1fr;
}

.project-section-project {
  height: 7rem;

  padding: 0.5rem;

  border-radius: 1rem;
  border-style: solid;
  border-color: #4286c6;
  border-width: 0.2rem;
  background-color: #f0d65b;
}