/* main-header2 styles */
#main-header2 {
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* TEMPORARY FIX FOR THE MODERATION PAGE for ROLE (ADMIN & TEACHER) SWITCHING */
/* switch-role styles */
.switch-role {
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

/* switch-role-tag styles */
.switch-role-tag {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid black;
}

/* switch-role-btn styles */
.switch-role-btn {
  border: 2px solid black;
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

/* Teacher & Admin Moderation Component */

/* moderation-teacher-container styles */
.moderation-teacher-container {
  display: flex;
}

/* moderation-admin-container styles */
.moderation-admin-container {
  display: flex;
}

.settings-divider {
  width: 2px;
  background-color: white;
  margin: 0 10px;
  height: 55vh;
  margin-top: 30px;
}

/* settings-categories styles */
.settings-categories {
  width: 30%;
  font-size: 1rem;
  font-weight: bolder;
  margin: 20px;
  margin-top: 100px;
}

.settings-categories .category-item {
  cursor: pointer;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  margin: 20px;
}

.settings-categories .category-item:hover {
  background-color: rgba(252, 252, 111, 0.411);
  border-radius: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.settings-categories .category-item.active {
  background-color: #e7e7e7;
  border-radius: 10px;
  background-color: yellow;
  color: black;
}

/* category-details styles */
.category-details {
  width: 70%;
  padding: 20px;
}

/* category-details .category-title styles */
.category-details .category-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 20px;
}

.category-details .default-category {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
  /* center of the view */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ADMIN MOD FEATURES */
.classroom-management {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

.new-classroom {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  margin: 20px;
  cursor: pointer;
}

.new-classroom .add-classroom-title {
  color: #fff;
  font-weight: bold;
}

.classroom-form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

.classroom-form .classroom-form-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
}

.classroom-form-submit-btn {
  border: 2px solid black;
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.classroom-delete-btn {
  border: 2px solid black;
  background-color: red;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
