//@import "../../../assets/style.less";

#main-header{ //same as mentor dashboard main header
  color: #FFFFFF;
  font-size: 3em;
  font-weight: bolder;
  margin-left: 10%;
  margin-bottom: 3%;
  text-align: left;
  padding-top: 20px;
}

#createOrgButton{
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 3em;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  text-align: center;
  position: relative;
  float: right;
  top: -7.75vh;
  left: -14vw;

}

#cardholder{
  background-color: #E9E9E9; //#colors[senary]
  margin: 6vh auto 4vh auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80vw;
  height: auto;
  border-radius: 25px;

  h1{
    position: relative;
    display: flex;
    float: left;
    background-color: #5BABDE; //#colors[secondary]
    border-color: #000000;
    color: #FFFFFF;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 34%;
    height: auto;
    padding: 10px 5px;
    border-radius: 80px;
    top: -8.5vh;
    left: -2vw;
    z-index: 1;
  }
}