@import "../../assets/style.less";

.main-header{ //same as mentor dashboard main header
  color: #FFFFFF;
  font-size: 3em;
  font-weight: bolder;
  margin-left: 10%;
  margin-bottom: 3%;
  text-align: left;
  padding-top: 20px;
}

.createButton{
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 3em;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  text-align: center;
  position: relative;
  float: right;
  left: -10vw;
  cursor: pointer;

  &:hover {
    color: #909090;
  }
}

.adminSubHeader{
  width: 80vw;
  margin: 0 auto 45px auto;
  padding-bottom: 2vh;

  h1{
    position: relative;
    display: flex;
    float: left;
    background-color: #colors[secondary];
    border-color: #000000;
    color: #colors[text-secondary];
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 34%;
    height: auto;
    padding: 10px 5px;
    border-radius: 80px;
    top: 5vh;
    left: -2vw;
    z-index: 1;
  }
}

.cardholder{
  display: inline-grid;
  justify-content: center;
  width: 80vw;
  margin: auto auto auto 2%;
  background-color: #colors[senary];
  padding-top: 40px;
  padding-bottom: 10px;
  height: auto;
  border-radius: 5px;
  border-color: #colors[secondary];
  border-style: solid;
  border-width: 2px;
}

.tile-container{
  display: inline-grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;
  width: 80vw;
  margin: auto auto auto 2%;
}

.description{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 7vw;
  margin-left: 7vw;
  width: 24vw;
  margin-bottom: 40px;

  background-color: rgb(49, 180, 180);
  color: rgb(255, 255, 255);

  padding: 20px;
  border: 1px solid rgb(14, 152, 184);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.377);
  cursor: pointer;
}